<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Results</title>
</head>
<body>
    {% extends "layout.html" %}

    {% block title %}Play - Rock, Paper, Scissors{% endblock %}

    {% block content %}
        <h1>Pick your move:</h1>
        <a href="{{ url_for('play_game', choice='rock') }}">
            <img src="{{ url_for('static', filename='../static/rock.jpg') }}" alt="Rock">
        </a>
        <a href="{{ url_for('play_game', choice='paper') }}">
            <img src="{{ url_for('static', filename='../static/paper.jpg') }}" alt="Paper">
        </a>
        <a href="{{ url_for('play_game', choice='scissors') }}">
            <img src="{{ url_for('static', filename='../static/scissors.jpg') }}" alt="Scissors">
        </a>
        <a href="{{ url_for('play_game', choice='bomb') }}">
            <img src="{{ url_for('static', filename='../static/bomb.png') }}" alt="Bomb">
        </a>
    {% endblock %}

</body>
</html>
