<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/styles/all.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <div class="left">
            <a href="/">Reset</a>
        </div>
        <div class="right">
            <a href="{{ url_for('game') }}">Start Game</a>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

   <footer>
        <div class="footer-content">
            <p class="footer-text">
                <span class="highlight">Rock, Paper, Scissors... and Tsar Bomb?</span> That's right! We upgraded Rock, Paper, and Scissors to the extreme by giving you the power of the most powerful nuclear bomb ever created.
            </p>
            <p class="footer-text">
                Our version of <span class="highlight">RPST (Rock, Paper, Scissors, Tsar Bomb)</span> is obviously the best choice, because who doesn't love disintegrating your opponent to atoms? In this game, paper might cover rock, and scissors may still cut paper, but the Tsar Bomb? It obliterates everything in its path.
            </p>
            <p class="footer-text">
                Your choices have never been this explosive, and the stakes have never been higher. It's a showdown where strategy meets pure, unbridled destruction.
            </p>
            <p class="footer-text">
                Will you outsmart your opponent with the subtle elegance of paper, the sharp precision of scissors, or will you unleash the ultimate force of nature and end it all in a nuclear flash?
            </p>
            <p class="footer-text">
                <span class="highlight">Choose wisely, because in RPST, one wrong move could be your last!</span>
            </p>
        </div>
    </footer>

</body>
</html>